@charset "UTF-8";
* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-family: 微軟正黑體;
}

body {
  background-color: #333;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  font: 14px;
  font-weight: 700;
}

html, body {
  width: 100%;
  height: 100%;
}

a {
  color: initial;
  text-decoration: initial;
}

.box {
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
  width: 410px;
  background-color: #f3f3f3;
  box-shadow: 10px 5px 50px rgba(0, 0, 0, 0.4);
  transition: 0.5s;
  border-radius: 8px;
  overflow: hidden;
}
.box:hover {
  box-shadow: 10px 10px 30px rgba(50, 50, 50, 0.3);
  transform: translate(-5px, -5px);
}

.top {
  background-image: url(https://ding0327.github.io/ncyu2019camp/ncyu2019camp.png);
  background-position: center;
  background-size: cover;
  height: 150px;
  position: relative;
  transition: 0.5s;
}
.top:hover {
  height: 250px;
}
.top .tag {
  width: 25px;
  height: 50px;
  background-color: #333;
  float: right;
  margin-right: 30px;
}
.top .name {
  position: absolute;
  left: 0px;
  bottom: 0px;
  padding: 5px 15px;
  letter-spacing: 2px;
  color: white;
  font: 24px 300;
  background: linear-gradient(transparent 0%, black 100%);
  width: 100%;
  padding-top: 30px;
  padding-bottom: 15px;
}
.top .name .smallText {
  font-size: 14px;
}

.cirbutton {
  width: 50px;
  height: 50px;
  background-color: #123;
  border-radius: 50%;
  position: absolute;
  right: 30px;
  bottom: -20px;
}

.bottom {
  padding: 10px 20px 20px 20px;
}
.bottom li {
  padding: 5px 0px;
}
.bottom h3 {
  display: inline-block;
}
.bottom ul {
  list-style: none;
  padding-left: 0;
}

.buttons {
  margin-top: 30px;
  color: #333;
}
.buttons .btn {
  display: inline-block;
  padding: 10px 25px;
  letter-spacing: 2px;
}

.btnWebsite {
  color: #fff;
  border: 1px solid #333;
  background-color: #333;
  transition: 0.5s;
}
.btnWebsite:hover {
  background-color: #2c9e92;
  cursor: pointer;
}

.btnNews {
  border: solid 1px black;
  float: right;
  transition: 0.5s;
}
.btnNews:hover {
  background-color: #333;
  color: #fff;
  cusor: help;
}
